@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Brasil<br />
    Minas Gerais, MG<br />
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:jvalves1998@outlook.com.br">jvalves1998@outlook.com.br</a><br />
</address>
